@{
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<main class="form-signin w-100 m-auto">
    <form>
        <img class="mb-6 logo" src="~/images/logo.png" alt="" style="height: 90px;">
        <h1 class="h3 mb-3 fw-normal align-content-center" style="text-align:center">Регистрация</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Придумайте пароль</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Повторите пароль</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</button>
    </form>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
