@{
    ViewData["Title"] = "Главная";
}

<head>
    <link rel="stylesheet" href="~/css/carousel.css">
</head>

<body>
    <main>
        <div id="myCarousel" class="carousel carousel-fade slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Слайд 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Слайд 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Слайд 3"></button>
            </div>
            <div class="carousel-inner" >
                <div class="carousel-item active" style="max-width: 1800px">
                    <img class="bd-placeholder-img bcgr-img" width="100%" height="100%" src="~/Images/indexSlide1.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                    <div class="container">
                        <div class="carousel-caption text-start shadow-lg p-3 mb-5 rounded">
                            <h1>Мир книг в вашем доме</h1>
                            <p>Окунитесь в удивительный мир литературы с нашим интернет-магазином.</p>
                            <p class="col-md-3"><a class="btn btn-primary w-100 py-2" asp-area="" asp-controller="Catalog" asp-action="Best">Лучшие книги недели</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img bcgr-img" width="100%" height="100%" src="~/Images/indexSlide2.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                    <div class="container-fluid">
                        <div class="carousel-caption shadow-lg p-3 mb-5 rounded">
                            <h1>Больше, чем просто книга</h1>
                            <p>Каждая книга открывает новый мир, наполненный удивительными историями и персонажами.</p>
                            <div class="d-flex justify-content-center" >
                                <p class="col-md-3"><a class="btn btn-primary w-100 py-2" asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img bcgr-img" width="100%" height="100%" src="~/Images/indexSlide3.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                    <div class="container-fluid">
                        <div class="carousel-caption text-end shadow-lg p-3 mb-5 rounded">
                            <h1>Эксклюзивные предложения</h1>
                            <p>Подборка лучших новинок и эксклюзивных изданий, доступных только у нас.</p>
                            <div class="d-flex justify-content-end">
                                <p class="col-md-3"><a class="btn btn-primary w-100 py-2" asp-area="" asp-controller="Catalog" asp-action="Sales">Акции недели</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
