html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    } 
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #F2B33D;
}

body {
    background-color: #F2D0A7;
    margin-bottom: 60px;
    height: 100%;
}

.bcgr-img {
    filter: brightness(40%);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: unset;
    height: 40px;
    padding-right: 8px;
}

.book-img {
    width: 120px;
    height: auto;
    max-height: 180px;
    object-fit: cover;
}

.book-container {
    color: white;
    background-color: #594225;
    border: 1px solid #262626;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.book-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: #594225;
    border-color: #F2A341;
}

.btn:hover {
    background-color: #F2A341;
    border-color: #594225;
}

footer {
    background-color: #262626;
}

header {
    background-color: #262626;
}

.color-1-hex {
    color: #F2B33D;
}

.color-2-hex {
    color: #F2A341;
}

.color-3-hex {
    color: #594225;
}

.color-4-hex {
    color: #F2D0A7;
}

.color-5-hex {
    color: #262626;
}